body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu {
    width: 200px;
    background-color: #520606;
    padding: 20px;
    height: 100vh;
}

.conteudo {
    flex: 1;
    padding: 20px;
}

.menu ul {
    list-style-type: none; /* Corrigido de 'nome' para 'none' */
    padding: 0;
}

.menu ul li a {
    text-decoration: none; /* Corrigido de 'nome' para 'none' */
    color: white;
    display: block;
    padding: 10px 0;
}

.menu ul li a:hover {
    text-decoration: underline;
}
